{% extends '../global/app.html.twig' %}

{% block body %}
    <h1> {{ name }} </h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <form role="form" method="post">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" value="{{ name }}" class="form-control" id="name"> <br>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="rights" class="col-sm-2 control-label">Rights</label>
                    <div class="col-sm-10">
                        <table id="rights-table" class="table-to-add" data-prototype="{{ '<tr data-index="__i__"><td style="border-style: solid; border-width: 1px"><input type="text" name="users[__i__][email]" class="form-control" id="email" style="border: none"> </td><td style="border-style: solid; border-width: 1px"> <input type="text" name="users[__i__][rights]" class="form-control" id="right" style="border: none"> </td><td style="border:none"> <button class="btn pull-left remove-from-prototype" data-target=".table-to-add" type="button" style="border: none;"><span class="glyphicon glyphicon-minus"></span></button></td></tr>'|e }}">
                        {% for i,user in users %}
                            <tr data-index="{{ i }}">
                                <td style="border-style: solid; border-width: 1px"> <input type="text" name="users[{{ i }}][email]" value="{{ user.email }}" class="form-control" id="email" style="border: none"> </td>
                                <td style="border-style: solid; border-width: 1px"> <input type="text" name="users[{{ i }}][rights]" value="{{ user.rights }}" class="form-control" id="right" style="border: none"> </td>
                                <td style="border:none"> <button class="btn pull-left remove-from-prototype" data-target=".table-to-add" type="button" style="border: none;"><span class="glyphicon glyphicon-minus"></span></button></td>
                            </tr>
                        {% endfor %}
                        </table>
                        <button class="btn pull-left add-from-prototype" data-target=".table-to-add" type="button"><div class="glyphicon glyphicon-plus"></div></button> <br><br>
                        <input type="checkbox" name="cascade" value="true"> Recursive </input> <br><br>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Apply</button>
                        <a href="/user/webapp">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock body %}

{% block pageJavascript %}
    {% parent %}
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.add-from-prototype').bind('click', function(){
                var table = jQuery(this).siblings('.table-to-add');
                var i = 0;
                jQuery('tr',table).each(function() {
                    i = parseInt(jQuery(this).attr('data-index'));
                });
                i++;
               table.append(table.attr('data-prototype').replace(/__i__/g, i));
            });
            jQuery('.remove-from-prototype').bind('click', function(){
                var table = jQuery(this).siblings('.table-to-add');
                var $this = $(this);
                $this.closest('tr').remove();
            });
        });
    </script>
{% endblock pageJavascript %}